.services {
    margin-bottom: 100px;
}

.lightBackground {
    background: rgba(255, 255, 255, 0.7);
}

.centerText {
    text-align: center;
}

.lightBlue {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.servicesScreen {
    padding-bottom: 50px;
}