.about {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    flex: 1 1 auto;
}

.heightCard {
    height: 500px;
}

.lightBackground {
    background: rgba(255, 255, 255, 0.4);
}

.blackBackground {
    background: rgba(0, 0, 0, 0.4);
}

.lightBlue {
    color: #4DC0F1;
}

.textCard1 {
    float: right;
}

.workBtn {
    display: inline;
}


.btnContainer {
    display: inline;
    text-align: center;
}