.contact {
    margin-top: 100px;
    background: rgba(255,255,255,1);
    flex: 1 1 auto;
}

.centerText {
    text-align: center;
}

.lightBlue {
    color: rgb(117, 205, 243);
}

.whiteColor {
    color: white;
}

.blackColor {
    color: black;
}